img{
	width: 30%;
	margin: 1.66%;
	float: left;
}	

p{
	width: 30%;
	size: 23px;
	font-family: Raleway;
	font-weight: 800;
	text-transform: uppercase;
	margin: 1.66%;
	padding-bottom: 20px;
	border-bottom: 2px solid gray;

}
